Repository CodeStrong2023/Concatenados4sem, pull requests merged in 2024-10, with the labels that each got.

#11 Java Avanzado - Semana 1
  Java Avanzado/Lección12/SistemEstudiantes/.gitignore
  Java Avanzado/Lección12/SistemEstudiantes/.idea/.gitignore
  Java Avanzado/Lección12/SistemEstudiantes/.idea/encodings.xml
  Java Avanzado/Lección12/SistemEstudiantes/.idea/misc.xml
  Java Avanzado/Lección12/SistemEstudiantes/.idea/uiDesigner.xml
  Java Avanzado/Lección12/SistemEstudiantes/.idea/vcs.xml
  Java Avanzado/Lección12/SistemEstudiantes/pom.xml
  Java Avanzado/Lección12/SistemEstudiantes/src/main/java/UTN/SitemaEstudiantesApp.java
  Java Avanzado/Lección12/SistemEstudiantes/src/main/java/UTN/SitemanEstudianteApp.java
  Java Avanzado/Lección12/SistemEstudiantes/src/main/java/UTN/conexion/Conexion.java
  Java Avanzado/Lección12/SistemEstudiantes/src/main/java/UTN/datos/EstudianteDAO.java
  Java Avanzado/Lección12/SistemEstudiantes/src/main/java/UTN/dominio/Estudiante.java
Labels: Java

#23 Clase1 Python
  Python/.gitkeep
  Python/.idea/.gitignore
  Python/.idea/Python.iml
  Python/.idea/inspectionProfiles/profiles_settings.xml
  Python/.idea/misc.xml
  Python/.idea/modules.xml
  Python/.idea/vcs.xml
  Python/Lección07/.idea/.gitignore
  Python/Lección07/.idea/Lección07.iml
  Python/Lección07/.idea/inspectionProfiles/Project_Default.xml
  Python/Lección07/.idea/inspectionProfiles/profiles_settings.xml
  Python/Lección07/.idea/misc.xml
  Python/Lección07/.idea/modules.xml
  Python/Lección07/.idea/vcs.xml
  Python/Lección07/base_datos.uxf
  Python/Lección07/capa_datos_persona/.idea/.gitignore
  Python/Lección07/capa_datos_persona/.idea/capa_dato_personas.iml
  Python/Lección07/capa_datos_persona/.idea/inspectionProfiles/profiles_settings.xml
  Python/Lección07/capa_datos_persona/.idea/misc.xml
  Python/Lección07/capa_datos_persona/.idea/modules.xml
  Python/Lección07/capa_datos_persona/.idea/vcs.xml
  Python/Lección07/capa_datos_persona/Persona.py
  Python/Lección07/capa_datos_persona/Usuario.py
  Python/Lección07/capa_datos_persona/__pycache__/Persona.cpython-311.pyc
  Python/Lección07/capa_datos_persona/__pycache__/Usuario.cpython-311.pyc
  Python/Lección07/capa_datos_persona/__pycache__/conexion.cpython-311.pyc
  Python/Lección07/capa_datos_persona/__pycache__/cursor_del_pool.cpython-311.pyc
  Python/Lección07/capa_datos_persona/__pycache__/logger_base.cpython-311.pyc
  Python/Lección07/capa_datos_persona/__pycache__/logger_base.cpython-312.pyc
  Python/Lección07/capa_datos_persona/__pycache__/usuario_dao.cpython-311.pyc
  Python/Lección07/capa_datos_persona/capa_datos.log
  Python/Lección07/capa_datos_persona/conexion.py
  Python/Lección07/capa_datos_persona/cursor_del_pool.py
  Python/Lección07/capa_datos_persona/logger_base.py
  Python/Lección07/capa_datos_persona/menu_app_usuario.py
  Python/Lección07/capa_datos_persona/persona_dao.py
  Python/Lección07/capa_datos_persona/usuario_dao.py
Labels: Python

#43 Semana 2 - Python
  JavaScript/e-commerce/client/js/cart.js
  JavaScript/e-commerce/client/js/index.js
  JavaScript/e-commerce/client/js/products.js
  JavaScript/e-commerce/client/media/Banana.png
  JavaScript/e-commerce/client/media/Enlatados.png
  JavaScript/e-commerce/client/media/Leche.png
  JavaScript/e-commerce/client/media/Mayonesa.png
  JavaScript/e-commerce/client/media/Pollo.png
  JavaScript/e-commerce/client/media/Varios.jpeg
  JavaScript/e-commerce/client/media/index.html
  JavaScript/e-commerce/client/media/styles.css
  Python/Clase02/.idea/.gitignore
  Python/Clase02/.idea/Clase01.iml
  Python/Clase02/.idea/inspectionProfiles/Project_Default.xml
  Python/Clase02/.idea/inspectionProfiles/profiles_settings.xml
  Python/Clase02/.idea/misc.xml
  Python/Clase02/.idea/modules.xml
  Python/Clase02/.idea/vcs.xml
  Python/Clase02/Sistemas_numeracion.py
  Python/Clase02/tipo_float.py
  Python/Clase02/valores_infinitos.py
Labels: Python

#45 Clase 2 Java
  Java Avanzado/Leccion01/estudiantes/.gitignore
  Java Avanzado/Leccion01/estudiantes/.mvn/wrapper/maven-wrapper.properties
  Java Avanzado/Leccion01/estudiantes/mvnw
  Java Avanzado/Leccion01/estudiantes/mvnw.cmd
  Java Avanzado/Leccion01/estudiantes/pom.xml
  Java Avanzado/Leccion01/estudiantes/src/main/java/utn/estudiantes/EstudiantesApplication.java
  Java Avanzado/Leccion01/estudiantes/src/main/java/utn/estudiantes/modelo/Estudiantes2024.java
  Java Avanzado/Leccion01/estudiantes/src/main/java/utn/estudiantes/repositorio/EstudianteRepositorio.java
  Java Avanzado/Leccion01/estudiantes/src/main/java/utn/estudiantes/servicio/EstudianteServicio.java
  Java Avanzado/Leccion01/estudiantes/src/main/java/utn/estudiantes/servicio/IEstudianteServicio.java
  Java Avanzado/Leccion01/estudiantes/src/main/resources/application.properties
  Java Avanzado/Leccion01/estudiantes/src/main/resources/logback-spring.xml
  Java Avanzado/Leccion01/estudiantes/src/test/java/utn/estudiantes/EstudiantesApplicationTests.java
  Python/Clase01/.idea/.gitignore
  Python/Clase01/.idea/Clase01.iml
  Python/Clase01/.idea/inspectionProfiles/Project_Default.xml
  Python/Clase01/.idea/inspectionProfiles/profiles_settings.xml
  Python/Clase01/.idea/misc.xml
  Python/Clase01/.idea/modules.xml
  Python/Clase01/Sistemas_numeracion.py
  Python/Clase01/__pycache__/mi_clase.cpython-312.pyc
  Python/Clase01/dar_formato_str.py
  Python/Clase01/doc_str.py
  Python/Clase01/f_string.py
  Python/Clase01/metodo_join.py
  Python/Clase01/metodo_split.py
  Python/Clase01/mi_clase.py
  Python/Clase01/str_inmutable.py
  Python/Clase01/tipo_bool.py
  Python/Clase01/tipo_float.py
  Python/Clase01/tipo_nan.py
  Python/Clase01/tipo_str.py
  Python/Clase01/valores_infinitos.py
Labels: Java

#44 Clase02 E-commerse Básico P2
  JavaScript/.gitkeep
  JavaScript/e-commerce2024/client/js/cart.js
  JavaScript/e-commerce2024/client/js/index.js
  JavaScript/e-commerce2024/client/media/index.html
  JavaScript/e-commerce2024/client/media/styles.css
  Readme.md
Labels: JavaScript

#46 Subiendo Clase 2 a Main
  Java Avanzado/Leccion01/estudiantes/.gitignore
  Java Avanzado/Leccion01/estudiantes/.mvn/wrapper/maven-wrapper.properties
  Java Avanzado/Leccion01/estudiantes/mvnw
  Java Avanzado/Leccion01/estudiantes/mvnw.cmd
  Java Avanzado/Leccion01/estudiantes/pom.xml
  Java Avanzado/Leccion01/estudiantes/src/main/java/utn/estudiantes/EstudiantesApplication.java
  Java Avanzado/Leccion01/estudiantes/src/main/java/utn/estudiantes/modelo/Estudiantes2024.java
  Java Avanzado/Leccion01/estudiantes/src/main/java/utn/estudiantes/repositorio/EstudianteRepositorio.java
  Java Avanzado/Leccion01/estudiantes/src/main/java/utn/estudiantes/servicio/EstudianteServicio.java
  Java Avanzado/Leccion01/estudiantes/src/main/java/utn/estudiantes/servicio/IEstudianteServicio.java
  Java Avanzado/Leccion01/estudiantes/src/main/resources/application.properties
  Java Avanzado/Leccion01/estudiantes/src/main/resources/logback-spring.xml
  Java Avanzado/Leccion01/estudiantes/src/test/java/utn/estudiantes/EstudiantesApplicationTests.java
  JavaScript/.gitkeep
  JavaScript/e-commerce/client/js/cart.js
  JavaScript/e-commerce/client/js/index.js
  JavaScript/e-commerce/client/js/products.js
  JavaScript/e-commerce/client/media/Banana.png
  JavaScript/e-commerce/client/media/Enlatados.png
  JavaScript/e-commerce/client/media/Leche.png
  JavaScript/e-commerce/client/media/Mayonesa.png
  JavaScript/e-commerce/client/media/Pollo.png
  JavaScript/e-commerce/client/media/Varios.jpeg
  JavaScript/e-commerce/client/media/index.html
  JavaScript/e-commerce/client/media/styles.css
  JavaScript/e-commerce2024/client/js/cart.js
  JavaScript/e-commerce2024/client/js/index.js
  JavaScript/e-commerce2024/client/media/index.html
  JavaScript/e-commerce2024/client/media/styles.css
  Python/Clase01/.idea/.gitignore
  Python/Clase01/.idea/Clase01.iml
  Python/Clase01/.idea/inspectionProfiles/Project_Default.xml
  Python/Clase01/.idea/inspectionProfiles/profiles_settings.xml
  Python/Clase01/.idea/misc.xml
  Python/Clase01/.idea/modules.xml
  Python/Clase01/Sistemas_numeracion.py
  Python/Clase01/__pycache__/mi_clase.cpython-312.pyc
  Python/Clase01/dar_formato_str.py
  Python/Clase01/doc_str.py
  Python/Clase01/f_string.py
  Python/Clase01/metodo_join.py
  Python/Clase01/metodo_split.py
  Python/Clase01/mi_clase.py
  Python/Clase01/str_inmutable.py
  Python/Clase01/tipo_bool.py
  Python/Clase01/tipo_float.py
  Python/Clase01/tipo_nan.py
  Python/Clase01/tipo_str.py
  Python/Clase01/valores_infinitos.py
  Python/Clase02/.idea/.gitignore
  Python/Clase02/.idea/Clase01.iml
  Python/Clase02/.idea/inspectionProfiles/Project_Default.xml
  Python/Clase02/.idea/inspectionProfiles/profiles_settings.xml
  Python/Clase02/.idea/misc.xml
  Python/Clase02/.idea/modules.xml
  Python/Clase02/.idea/vcs.xml
  Python/Clase02/Sistemas_numeracion.py
  Python/Clase02/tipo_float.py
  Python/Clase02/valores_infinitos.py
Labels: Scrum Master
